# IDE
.idea

# Scraper
scraper/config.php
scraper/htmls/db.tar.gz
scraper/htmls/pages.tar.gz
scraper/htmls/reviews.tar.gz
scraper/htmls/filmaffinity.sql
scraper/htmls/pages
scraper/htmls/films
scraper/htmls/reviews

# Bot
bot/config.php

# Laravel
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env