body { background: #fff; font-family: 'Raleway', sans-serif; }

.review { width: 800px; border: 1px solid #ccc; margin: 30px; padding: 20px; }

#review-title { font-family: 'RalewayBold', sans-serif; font-weight: bold; font-size: 30px; margin-bottom: 10px; }
#review-title #review-rating { color: #a71600; }

#review-body { font-size: 16px; height: 600px; }

.film { text-align: right; margin-top: 15px; font-size: 24px; }
