@media all and (max-width: 640px) {

  #subtitle { font-size: 11px; }

  #search,
  #to-random-container,
  #results .single-header,
  #results .social-header
  #results .result a {
    width: 100%;
  }

  #results .film {

    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;

    .left { width: 23%; }
    .right {
      width: 70%;
      .cast, .title, .director {
        max-width: 100%;
      }
    }
  }

}